body{

background:#101010;
color:white;
font-family:sans-serif;
text-align:center;
padding:20px;

}

.controls{

margin-bottom:20px;

}

input{

width:60%;
padding:10px;

}

button{

padding:10px 15px;
margin:5px;
cursor:pointer;

}

#results{

max-width:900px;
margin:auto;
text-align:left;

}

.stream{

border-bottom:1px solid #333;
padding:10px;

}

.stream a{

color:#00ff9c;
word-break:break-all;

}

video{

width:90%;
max-width:900px;
margin-top:20px;
border-radius:10px;

}
